<div class="jumbotron text-center">
  <h1>The Galaxy's menu</h1>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/menu/Breakfast" class="thumbnail section-thumbnail">
      <img src="http://i.imgur.com/iDWONDw.jpg" alt="food">
      <p>Breakfast</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/menu/Dinner" class="thumbnail section-thumbnail">
      <img src="http://img1.cookinglight.timeinc.net/sites/default/files/styles/400xvariable/public/image/2004/12/0412p120-chicken-mushrooms-m.jpg?itok=WdE7T86V" alt="food">
      <p>Dinner</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/menu/Lunch" class="thumbnail section-thumbnail">
      <img src="http://www.trimmedandtoned.com/wp-content/uploads/2015/03/2.-Tortilla-Pie.jpg" alt="food">
      <p>Lunch</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/menu/Drink" class="thumbnail section-thumbnail">
      <img src="http://img.getit.in/NTD95HGN1soft_drinks.jpg" alt="food">
      <p>Drinks</p>
    </a>
  </div>
</div>