<h1>Our Menu</h1>
<br><br><br>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/172/180/food/1" alt="food">
      <p>Breakfast</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/172/180/food/2" alt="food">
      <p>Dinner</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/172/180/food/3" alt="food">
      <p>Lunch</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/172/180/food/4" alt="food">
      <p>Drinks</p>
    </a>
  </div>
</div>