@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 30px;
}

.section-thumbnail {
  border: 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}  

.item_thumbnail {
  border: 0;
}
